/*reglas
selectores
declaraciones
propiedades
valores*/



/*header{
      background: red;
}*/

/*Selector de etiqueta  header - section - article - nav*/
/*Selector descendente  body header div nav ol li a*/
/*Selector descendente   nav ol li a*/

/* Selector de clase . */
/* .link*/

/* Selector de id # */
/*#portafolio*/

body{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: normal;
     /* font-style: italic;*/

}


h1,
h2,
h3,
h4,
h5,
h6{
      font-family: 'Fjalla one', sans-serif;
}

h1{
      font-size: 40px;
      line-height: 1.5em;
      letter-spacing: -.2px;
   /*   text-transform: uppercase;*/
   /*   text-decoration: dashed;*/
}

.hero{
      height: 300px;
}

.project-details{
      width: 500px;
}

.project-imageContainer{
      width:500px;

}



